@use '../abstract/font.scss' as *;
@use '../abstract/color.scss' as *;
.intro-structure{
  min-height: 100vh;
  width: 100%;
  // background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;

  .scaling{
    width: fit-content;
    height: fit-content;
    // background-color: red;
    animation: remove 0.6s ease-in-out 3.4s 1  both;

    @keyframes remove {
      0%{
        scale: 1;
      }
      100%{
        scale: 0;
      }
    }

    .draw{
      background: none;
      border: 0;
      box-sizing: border-box;
      font-family: $secondary-font;
      // margin: 1em;
      padding: 0.8em;
      box-shadow: inset 0 0 0 2px transparent;
      // color: $red;
      font-size: 24px;
      font-weight: 700;
      font-style: italic;
      position: relative;
      vertical-align: middle;

      &::before,
      &::after {
        box-sizing: inherit;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
      }
    

      &::before {
        border: 4px solid transparent;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        animation: top 1.3s ease-in 1 both;
      }
    
      @keyframes top {
        0%{
          width: 0;
          height: 0;
          border-top-color: transparent;
          border-right-color: transparent ;
        }
        50%{
          width: 100%;
          height: 0;
          border-top-color: $bg-highlight-color;
        }
        100%{
          width: 100%;
          height: 100%;
          border-top-color: $bg-highlight-color;
          border-right-color: $bg-highlight-color;
        }
      }
      &::after {
        border: 4px solid transparent;
        width: 0;
        height: 0;
        bottom: 0;
        right: 0;
        animation-name: after;
        animation-fill-mode: both;
        animation-duration: 1s;
        animation-delay: 1.3s;
        animation-timing-function: ease-in;
      }
      @keyframes after {
        0%{
          width: 0%;
          height: 0%;
          border-bottom-color: transparent;
          border-left-color: transparent;
        }
        50%{
          width: 100%;
          height: 0;
          border-bottom-color: $bg-highlight-color;
        }
        100%{
          width: 100%;
          height: 100%;
          border-bottom-color: $bg-highlight-color;
          border-left-color: $bg-highlight-color;
        }
      }
    }
    .draw p{
      animation: appear 0.1s ease-in-out 3s 1 both;
      color: $bg-highlight-color;

      @keyframes appear {
        0%{
          visibility: hidden;
          transform: scale(0);

        }
        100%{
          visibility: visible;
          transform: scale(1);
        }
      }
    }
  }
}