@use '../abstract/color.scss' as *;
@use '../abstract/font.scss' as *;
@use '../abstract/mixins.scss' as *;
@use '../abstract/mediaQuery.scss' as *;

@media #{$media-lg-desktop}{
  .contact{
    @include containerxl;

    &-body{

      &_form{
        width: 50%;

        .input_div{
          margin-bottom: 1.6rem;
        }
      }
    }

  }
}
@media #{$media-desktop}{
  .contact{
    @include containerlg;
    padding-left: 10px;
    
    &-body{
      &_form{
        width: 60%;
      }
    }
  }
}
@media #{$media-tablet-xl}{
  .contact{
    max-width: 90%;

    &-head{
      // display: none;
      margin-top: 4rem;
    }
  }
}
@media #{$media-tablet}{
  .contact{

    &-body{
      @include flexColumn;

      &_form{
        width: 75%;
      }
      &_otherOptions{
        margin-left: 0;
        margin-top: 2.5rem;
      }
    }
  }
}
@media #{$media-mobile}{
  .contact{

    // display: none;
    &-head{
      .headerDiv{

        .line{
          display: none;
        }
      }
      p{
        max-width: 100%;
      }
    }
    &-body{

      &_form{
        width: 95%;
      }
    }
  }
}
@media #{$media-mobile-sm}{
  .contact{
    // background-color: red;
    padding-left: 0;

    &-head{
      .headerDiv{
        h3{
          font-size: 1.55rem;
        }
      }
    }
    &-body{
      &_form{
        // display: none;
        width: 100%;
      }
    }
  }
}
