@use '../abstract/color.scss' as *;

.page-template{
  min-height: 100vh;
  height: 100%;

  animation: change 0.5s ease-in-out 3.7s 1 both;


} 
.page-template_menuopen{
  max-height: 100vh;
  overflow: hidden;
}

.page-template-dark{
  background:  $bg-dark-color;
  transition: all ease-in-out 0.5s;
}

.page-template-light{
  background-color: $bg-light-color;
  transition: all ease-in-out 0.5s;
}